extends layout

block content
  div.container
    h2 Logs:
    a(href="#")#clear Clear logs
    pre
      p#logoutput= log
    script.
      $(function() {
        $("#clear").on("click",function(e) {
          e.preventDefault();
          $.post("/logs/clear",function(data) {
            $("#logoutput").html("");
          });
        });
      });
